/* START OF TOP BAR */

#title {
  
  color:#00a8d3;
  text-shadow: 1px 1px black;
  text-align: center;
 
}

#subtitle{
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  margin-top: 0px;
}

/* END OF TOP BAR */

/* START OF BODY */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0px;
  
 
}

main {
   
  text-align: center;
  background-image: url("images/background.jpg");
  margin-bottom: 0px;
  
}


#titleimage {

  max-width: 450px ;
  max-height: 600 px ;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 36px;
  

  
}

header {
  background-image: linear-gradient(180deg,#012f3d, #62c1de);
  padding-bottom: 20px;
  box-shadow: 0px 0px 6px 0px black;

}


article {
  text-align: center;
  margin-bottom: 0;
 
}



hr {
  background-color: #575b5c;
  border-color: #575b5c;
  width: 200px;
  height: 4px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20 px;
  
}


h2 {

  color: #4d4d4d;
  margin-top: 100px;
  text-align: center;

}

ul {
list-style-position: inside;
}



ol {
  list-style-position: inside;
  
}

a:link {
text-decoration: none;
}

a:visited {
 text-decoration: none;
  color: black;
}

a:hover {
 color: #0039d6; 
}

a:active {
 color: #d8dded; 
}


/*END OF BODY */
/* START OF FOOTER */

footer {
background-color: #4d4d4d;
margin-top: 0px;
min-height: 60px;
text-align: center;



h3 {
  color: white;
  font-size: 20px;
}
  
  /* END OF FOOTER */
